.bodytext {
  font-size: 1.2rem;
  line-height: 1.6;

  h2 {
    font-size: 2rem;
    color: $brand-primary;
  }
  h3 {
    font-size: 1.6rem;
    color: inherit;
  }
  h4 {
    font-size: 1.3rem;
    color: inherit;
  }

  a {
    color: $brand-secondary;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style-position: inside;
    padding-left: 0;
  }

  // Standard classes added by Wordpress wysiwyg.
  img.alignright { float: right; margin: 0 0 1em 1em; }
  img.alignleft { float: left; margin: 0 1em 1em 0; }
  img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
  .alignright { float: right; }
  .alignleft { float: left; }
  .aligncenter { display: block; margin-left: auto; margin-right: auto; }
}
