.hero {
  height: 45vw;
  max-height: 55vh;
  position: relative;

  @include flexbox-vertical;
  justify-content: center;
  align-items: center;

  &__overlay {
    @extend .overlay;
    @extend .fill;
    z-index: 1;

    background-color: rgba(#000, .35);
  }

  &__content {
    position: relative;
    z-index: 2;
    color: #fff;
    max-width: 65%;
    font-size: 2rem;
    text-align: center;

    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
  }
}
