<div class="feature rhythm-mb2">

  <div class="feature__icon">
    {{ macros.socialicon(_context, 'instagram-circle') }}
  </div>

  <div class="feature__title item-title">
    This is a feature
  </div>

  <div class="feature__text">
    <div class="bodytext bodytext--small">{{ lipsum(30) }}</div>
  </div>

  <div class="feature__actions">
    <a href="#" class="btn btn-default">Learn more</a>
  </div>
</div>
