<div class="feature rhythm-mb-2 text-center">

  <div class="feature__icon">
    {{ macros.fontawesome(_context, 'instagram') }}
  </div>

  <h2 class="h3 feature__title">
    This is a feature
  </h2>

  <div class="feature__text">
    <div class="bodytext bodytext--small">{{ lipsum(30) }}</div>
  </div>

  <div class="feature__actions mt-auto">
    <a href="#" class="btn btn-primary">Learn more</a>
  </div>
</div>
