<div class="hero {{ mods }}">

  <img src="{{ data.image }}" class="img-fluid hero__image">
  
  {% if data.overlay %}
  <div class="hero__overlay"></div>
  {% endif %}
  <div class="hero__content">
    <div class="container hero__container">
      <div class="hero__paragraph">
        {% include 'templates/inc/components/paragraph.twig' with {
          data: data,
          mods: 'paragraph--large paragraph--white'
        } %}
      </div>
    </div>
  </div>
</div>