<div class="hero{#  hero--full #}" style="background-image:url('https://images.unsplash.com/photo-1495650876818-1698322fbb61?ixlib=rb-0.3.5&s=20ec6688c21b4b67d814beab3fae5f40&auto=format&fit=crop&w=1350&q=80');">
  <div class="hero__overlay"></div>
  <div class="hero__content rhythm-mb-3">
    <h1 class="hero__title">The Hero Title</h1>
    <div class="hero__body bodytext bodytext--small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas officiis architecto, similique reprehenderit repudiandae ipsa dicta dolor sit doloribus, rerum alias autem quidem sint doloremque vitae dignissimos nisi porro temporibus.</div>
    <div class="hero__cta">
      <a href="http://maneuver.be" class="btn btn-primary">Take action</a>
    </div>
  </div>
</div>