<article class="teaser rhythm-mb-2">
  <div class="teaser__image">
    <img src="https://placem.at/places?w=600&h=300&txt=0" class="img-fluid" alt="" />
  </div>
  <h3 class="item-title">Teaser title</h3>
  <div class="teaser__excerpt bodytext bodytext--small">{{ lipsum(20) }}</div>
  <div class="teaser__actions">
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</article>
