<article class="teaser-item rhythm-mb-2">
  <div class="teaser-item__image">
    <img src="https://placem.at/places?w=600&h=260&txt=0" class="img-fluid" alt="" />
  </div>
  <h2 class="h3 teaser-item__title">Teaser title</h2>
  <div class="teaser-item__excerpt bodytext bodytext--small">{{ lipsum(20) }}</div>
  <div class="teaser-item__actions mt-auto">
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</article>
