.card-grid {
  display: grid;
  grid-gap: $grid-gutter-width;
  grid-template-columns: 50% 50%;

  @include media-breakpoint-up('lg') {
  }

  &__item {
    &:first-child {
      @include media-breakpoint-up('lg') {
        grid-row: 1/3;
      }  
    }
  }
}