.hero {
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: $grid-gutter-width * 3 0;
  min-height: 50vh;
  display: flex;
  align-items: center;

  
  &__title {
    font-weight: 300;
    font-size: 3rem;

  }


  &__overlay {
    @include overlay(#000, 0.35);
  }

  &__container {
    display: flex;
  }

  &__content {
    position: relative;
    z-index: 2;
    color: #fff;
    max-width: 90%;
    margin: 0 auto;

    @include media-breakpoint-up(sm) {
      max-width: 60%;
    }
    @include media-breakpoint-up(md) {
      max-width: 50%;
    }
    @include media-breakpoint-up(lg) {
      max-width: 45%;
    }

  }

  &--full {
    height: calc(100vh - #{$header-height});
  }

  &--center {
    justify-content: center;
    text-align: center;
  }
  
  &--top {
    align-items: flex-start;
  }

  &--bottom {
    align-items: flex-end;
  }

}