$block: '.hero';

#{$block} {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  
  &__image {
    flex-shrink: 0;
  }
  
  &__overlay {
    @include overlay(#000, 0.35);
  }

  &__content {
    @include fill();
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  &__paragraph {
    position: relative;
    z-index: 2;
    color: #fff;
    max-width: 90%;
    margin: 0 auto;

    @include media-breakpoint-up(sm) {
      max-width: 60%;
      margin: 0;
    }
    @include media-breakpoint-up(md) {
      max-width: 50%;
    }
    @include media-breakpoint-up(lg) {
      max-width: 45%;
    }
  }
  
  &--left {
    #{$block}__container {
      align-items: flex-start;
    }
  }

  &--right {
    #{$block}__container {
      align-items: flex-end;
    }
  }

  &--top {
    #{$block}__content {
      justify-content: flex-start;
    } 
  }

  &--bottom {
    #{$block}__content {
      justify-content: flex-end;
    } 
  }
}