.hero {
  min-height: 40vw;
  // max-height: 700px;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 75vh;

  padding: 60px 0;

  &__overlay {
    @include overlay(#000, 0.35);
  }

  &__content {
    position: relative;
    z-index: 2;
    color: #fff;
    max-width: 65%;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 200;

    @include media-breakpoint-up(xl) {
      max-width: 40%;
    }
  }

  &__quote {
    font-style: italic;
  }

  &__share {
    .at-resp-share-element .at-share-btn {
      background: #fff !important;
      svg {
        fill: #444 !important;  
      }
      
    }
  }

  &--sm {
    min-height: 30vw;
  }
}