.logo-ribbon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  &:before {
    flex-basis: 0; /* safari bugfix */
    max-width: 0;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 20%;
    margin-bottom: 50px;
    padding: 0 2vw;

    img {
      max-height: 75px;
      max-width: 140px;
    }
  }
}
