// stylelint-disable declaration-no-important

.tiny-gutters {
  margin-left: -0.2rem;
  margin-right: -0.2rem;
  margin-top: -0.2rem;
  margin-bottom: -0.2rem;

  > [class*="col-"] {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}

// Rhythm Margin and Padding


@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers {
          
        .rhythm-#{$abbrev}#{$infix}-#{$size} > * { #{$prop}: $length; }
        .rhythm-#{$abbrev}t#{$infix}-#{$size} > *,
        .rhythm-#{$abbrev}y#{$infix}-#{$size} > * {
          &:not(:first-child) {
            #{$prop}-top: $length;  
          }
        }
        .rhythm-#{$abbrev}r#{$infix}-#{$size} > *,
        .rhythm-#{$abbrev}x#{$infix}-#{$size} > *{
          &:not(:last-child) {
            #{$prop}-right: $length;
          }
        }
        .rhythm-#{$abbrev}b#{$infix}-#{$size} > *,
        .rhythm-#{$abbrev}y#{$infix}-#{$size} > *{
          &:not(:last-child) {
            #{$prop}-bottom: $length;  
          }
        }
        .rhythm-#{$abbrev}l#{$infix}-#{$size} > *,
        .rhythm-#{$abbrev}x#{$infix}-#{$size} > *{
          :not(:first-child) {
            #{$prop}-left: $length;  
          }
        }
      }
    }
  }
}
