.btn {
  &:active, &.active {
    box-shadow: none;
  }
}


.btn-secondary {
  @include button-variant(#fff, $brand-secondary, darken($brand-secondary, 4%));
}

.btn-ghost {
  &.btn-default {
    @include button-variant($btn-default-color, transparent, $btn-default-border);
    &:hover {
      @include button-variant($btn-default-color, #eee, $btn-default-border);
    }
  }
  &.btn-primary {
    @include button-variant($brand-primary, transparent, $brand-primary);
    &:hover {
      color: #fff;
      background-color: $brand-primary;
    }
  }
  &.btn-secondary {
    @include button-variant($brand-secondary, transparent, $brand-secondary);
    &:hover {
      color: #fff;
      background-color: $brand-secondary;
    }
  }
}

.btn-share {
  display: inline-flex;

  &__icon {
    width: 18px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
  }
  &__label {
    line-height: 1;
    display: inline-block;
  }

  .share--small & {
    padding: 6px;
    .btn-social__icon {
      margin-right: 0;
    }
    .btn-social__label {
      display: none;
    }
  }
}
