/**
 * Helper classes to create and maintain the vertical rhythm of the page.
 *
 * Use either as a single class on an element:
 * <div class="mb2"></div>
 * or
 * <h3 class="pt5"></div>
 *
 * Or use the 'rhythm-' class to set vertical spacing inside a entire block.
 * <div class="rhythm-mb3"></div>
 *
 **/



& { // create scope.

  $rhythm: .5em;
  $min: 1;
  $max: 10;

  /***************/
  /*** PADDING ***/
  /***************/

  @for $i from $min through $max {
    .pt#{$i} { padding-top: $rhythm * $i; }
    .rhythm-pt#{$i} > * { margin-top: $rhythm * $i; }
  }

  @for $i from $min through $max {
    .pb#{$i} { padding-bottom: $rhythm * $i; }
    .rhythm-pb#{$i} > * { margin-bottom: $rhythm * $i; }
  }

  /**************/
  /*** MARGIN ***/
  /**************/

  @for $i from $min through $max {
    .mt#{$i} { margin-top: $rhythm * $i; }
    .rhythm-mt#{$i} > * { margin-top: $rhythm * $i; }
  }

  @for $i from $min through $max {
    .mb#{$i} { margin-bottom: $rhythm * $i; }
    .rhythm-mb#{$i} > * { margin-bottom: $rhythm * $i; }
  }

}
