.site-header {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: padding 400ms $easeInOutCubic;

  &.shrink {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.18);
  }
}

.site-header.navbar-fixed-top + .site-content {
  margin-top: $headerheight;
}
