@font-face {
  font-family: "social-icons";
  src:url("#{$fontpath}social-icons.eot");
  src:url("#{$fontpath}social-icons.eot?#iefix") format("embedded-opentype"),
    url("#{$fontpath}social-icons.woff") format("woff"),
    url("#{$fontpath}social-icons.ttf") format("truetype"),
    url("#{$fontpath}social-icons.svg#social-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="social-icon-"]:before,
[class*=" social-icon-"]:before {
  font-family: "social-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social-icon-facebook-circle:before {
  content: "\61";
}
.social-icon-facebook:before {
  content: "\62";
}
.social-icon-linkedin-square:before {
  content: "\64";
}
.social-icon-google-plus-square:before {
  content: "\65";
}
.social-icon-social-twitter:before {
  content: "\66";
}
.social-icon-vimeo-square:before {
  content: "\67";
}
.social-icon-facebook-square:before {
  content: "\68";
}
.social-icon-pinterest:before {
  content: "\69";
}
.social-icon-linkedin-outline:before {
  content: "\6a";
}
.social-icon-twitter-outline:before {
  content: "\6b";
}
.social-icon-facebook-outline:before {
  content: "\6c";
}
.social-icon-google-plus-outline:before {
  content: "\6d";
}
.social-icon-pinterest-outline:before {
  content: "\6e";
}
.social-icon-snapchat:before {
  content: "\6f";
}
.social-icon-youtube-square:before {
  content: "\70";
}
.social-icon-twitter:before {
  content: "\71";
}
.social-icon-twitter-square:before {
  content: "\72";
}
.social-icon-twitter-circle:before {
  content: "\74";
}
.social-icon-linkedin-circle:before {
  content: "\73";
}
.social-icon-pinterest-square:before {
  content: "\63";
}
.social-icon-pinterest-circle:before {
  content: "\75";
}
.social-icon-instagram-circle:before {
  content: "\76";
}
.social-icon-instagram:before {
  content: "\77";
}
.social-icon-mail-circle:before {
  content: "\78";
}
.social-icon-mail:before {
  content: "\79";
}
.social-icon-letter-mail-square:before {
  content: "\7a";
}
.social-icon-letter:before {
  content: "\41";
}
.social-icon-google-plus:before {
  content: "\42";
}
.social-icon-linkedin:before {
  content: "\43";
}
.social-icon-globe:before {
  content: "\44";
}
.social-icon-globe-black:before {
  content: "\45";
}
