.navbar-nav {
  .nav-item {
    @include media-breakpoint-up('md') {
      margin-left: 1.5rem;
      &:first-child {
        margin-left: 0;
      }  
    }
    
  }
  .nav-link {
    font-family: $headings-font-family;
    font-weight: normal;
    line-height: 1.5;
    cursor: pointer;
  }
}