
html {
  font-size: 13px;
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}
body {
  -webkit-font-smoothing:antialiased; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale
}

strong, b {
  font-weight: $font-weight-bold;
}

.large-title {
  font-size: 2rem;
  font-family: $headings-font-family;
  color: #000;
  font-weight: bold;

  &--white {
    color: #fff;
  }

  &--deocorated {
    @include decorated-title();
  }
}

.medium-title {
  font-size: 2rem;
  font-family: $headings-font-family;
  color: #000;
  font-weight: 300;

  &--white {
    color: #fff;
  }

  &--deocorated {
    @include decorated-title();
  }
}

.item-title {
  font-family: $font-family-base;
  font-size: 1.25rem;
  color: $body-color;
  font-weight: $font-weight-medium;
  margin-bottom: 1rem;

  &--decorated {
    @include decorated-title();
  }
}