{% extends '/templates/base.twig' %}

{% block body_class %}{{ parent() }} contact{% endblock %}

{% block content %}

<div class="container">

  <div id="map" class="map" style="height:500px" data-lat="{{ options.location.lat }}" data-lng="{{ options.location.lng }}"></div>
</div>


{% endblock %}
