{% extends '/templates/base.twig' %}


{% block body_class %}{{ parent() }} contact{% endblock %}
{% block scripts %}<script src="http://maps.googleapis.com/maps/api/js?key="></script>{% endblock %}

{% block content %}

<div class="container">

  <div id="gmaps" class="googlemaps" style="height:500px">

  </div>
</div>


{% endblock %}
