{% extends '/templates/base.twig' %}

{% set meta_title = 'Home' %}
{% set meta_desc = 'This is the homepage' %}

{% block content %}

{% include 'templates/inc/components/hero.twig' %}

<div class="page-section py-6">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <Products></Products>
      </div>
      <div class="col-4">
        <Sidebar></Sidebar>
      </div>
    </div>
  </div>  
</div>

{% include 'templates/inc/sections/intro.twig' %}

{% endblock %}
