{% extends '/templates/base.twig' %}

{% set meta_title = 'Home' %}
{% set meta_desc = 'This is the homepage' %}


{% block content %}

{% include 'templates/inc/components/hero.twig' %}

{% include 'templates/inc/components/map.twig' %}


<div class="page-section py-6">
  <div id="app"></div>
</div>

{% include 'templates/inc/sections/intro.twig' %}

{% endblock %}
