{% extends '/templates/base.twig' %}

{% set meta_title = 'Home' %}
{% set meta_desc = 'This is the homepage' %}

{% block content %}

{% include 'templates/inc/sections/hero.twig' %}

<div class="page-section">
  <div id="app"></div>
</div>

{% include 'templates/inc/sections/intro.twig' %}

{% endblock %}
