{% extends '/templates/base.twig' %}

{% set meta_title = 'Home' %}
{% set meta_desc = 'This is the homepage' %}

{% block content %}

<div id="app"></div>

{% include 'templates/inc/sections/hero.twig' %}
{% include 'templates/inc/sections/intro.twig' %}

{% endblock %}
