
@import 'variables.scss';
// @import '~font-awesome/scss/font-awesome';
@import '~bootstrap/scss/bootstrap';
// @import '~leaflet/dist/leaflet.css';
// @import '~slick-carousel/slick/slick.scss';
// @import '~@fancyapps/fancybox/dist/jquery.fancybox.css';
@import 'mixins';

@import 'utils/spacing';
@import 'utils/bootstrap-overrides';
@import 'utils/helpers';

@import 'layout/type';
@import 'layout/general';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/bodytext';
@import 'layout/nav';
@import 'layout/forms';
@import 'layout/tables';


@import 'components/buttons';
@import 'components/gallery';
@import 'components/hero';
@import 'components/page-section';
@import 'components/site-socials';
@import 'components/mnvr-badge';
@import 'components/logo-ribbon';
@import 'components/card';

.at-resp-share-element .at-share-btn {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  background: $gray-500 !important;

}

.fancybox-content {
  @include media-breakpoint-down(md) {
    width: 100% !important;
    max-width: 90% !important;
    margin: 0 !important;
    height: 100% !important;
  }
}