
.fontastic() { font-family: "fontastic" !important; }

// Source.
.font-source() { font-family: "source-sans-pro", sans-serif; font-style: normal; font-weight: 400; }
.font-source-light() { .font-source(); font-weight: 300; }
.font-source-bold() { .font-source(); font-weight: 700;  }

// Proxima Nova.
.font-proxima() { font-family: 'proxima-nova', sans-serif; font-weight: 400; font-style: normal; }
.font-proxima-thin() { .font-proxima(); font-weight: 100; }
.font-proxima-light() { .font-proxima(); font-weight: 300; }
.font-proxima-semibold() { .font-proxima(); font-weight:600; }
.font-proxima-bold() { .font-proxima(); font-weight:700; }
.font-proxima-extrabold() { .font-proxima(); font-weight: 800; }
.font-proxima-black() { .font-proxima(); font-weight: 900; }
