@import "bower_components/lesshat/build/lesshat-prefixed.less";
// @import "bower_components/normalize-less/normalize.less";
@import "bootstrap.less";
@import "fonts.less";
@import "mixins.less";
@import "vars.less";
// @import "bower_components/flexslider/flexslider.less";

/* STRUCTURE & DEFAULTS  */

body * { .box-sizing(border-box); .smooth-text(); }
html, body { height:100%; margin:0; padding:0; }
body, h1, h2, h3, h4, h5, h6 { line-height: 1; }
#site-wrap { height:100%; min-height:100%; height:auto; margin-bottom: -@footerheight - @footermargin; }
#site-header { background:@clr-mood; margin-bottom: 0; }
#site-push { height: @footerheight + @footermargin; position: relative; z-index: 1; }
#site-footer { height: @footerheight; margin-top:@footermargin; position: relative; z-index: 2; background-color: @clr-mood;
  @media (max-width: @screen-phone) { & { height:auto; } }
}
#mnvr { position:absolute; bottom:0; right:0;
  .inner { display:block; width:13px; height:6px; margin:auto; background:url('@{imgpath}mnvr-dark.png') no-repeat 0 0;  .opacity(.3); .lh-transition(all 250ms ease-in-out);
    &:hover { width:63px; .opacity(.3); }
  }
}
.chromeframe { padding: 20px 0; text-align: center; background: #F0AD4E; font-size: 16px;
  a { text-decoration: underline; }
}
.googlemaps img { max-width: none; }
.js [data-clickable] { cursor: pointer; }
p:first-child { margin-top:0; }
::selection { background: @clr-selection; color:#fff; }
::-moz-selection { background: @clr-selection; color:#fff; }
.nav-basic {
  > li {
    + li { margin-left:2.5em; }
    > a { border-radius: 0; padding:0;
      &:hover { background-color:transparent; }
    }
  }
}
.navbar-toggle .icon-bar { background:#fff; }
// .flexslider { .hijack-flexslider(); }
