@import "global.less";

.page-section       { padding:40px 0; }
.page-section--md   { padding:60px 0; }
.page-section--lg   { padding:100px 0; }



/* MEDIA QUERIES */

@media (min-width: @screen-sm-min) {

}

@media (min-width: @screen-md-min) {

}

@media (min-width: @screen-lg-min) {

}
