
/* HELPERS */

.reset()          { margin:0; padding:0; border:none; background:none; list-style: none; line-height: 1; .box-shadow(none); }
.smooth-text()    { -webkit-font-smoothing:antialiased; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; }
.up()             { text-transform: uppercase; }
.center-element() { margin:0 auto; }
.center-text()    { text-align: center; }

.borders(@t, @r, @b, @l) {
  border-top-width: @t;
  border-right-width: @r;
  border-bottom-width: @b;
  border-left-width: @l;
}

.hijack-flexslider() { background-color:transparent; border:none; border-radius:0;
  .flex-direction-nav a { .opacity(1);
    &:before { .fontastic(); text-shadow:none; }
    &.flex-next { .icon-arrow-right; right:0px !important; }
    &.flex-prev { .icon-arrow-left; left:0px !important; }
  }
}

.hijack-fancybox() {
  .fancybox-overlay { background-color:rgba(255,255,255,.85); background-image:none; }
  .fancybox-next, .fancybox-prev { background:none;
    span { background-image:none; .fontastic(); font-size:45px; color:@clr-mood-dark; width:auto; height:auto; }
  }
  .fancybox-prev { left:-50px;
    span { .icon-arrow-left; left:0; }
  }
  .fancybox-next { right:-50px;
    span { .icon-arrow-right; right:0; }
  }
}


/* FALLBACKS */

.svgbg(@src, @w, @h, @fallback: '') { background:url(@src) no-repeat 0 0; width:@w; height:@h; display: inline-block; background-size:@w @h;
  .no-svg & { background:url(@fallback); }
}
.svgbg(@src, @w, @h, @fallback: '') when(@fallback = '') {
  @fallback: ~`"@{src}".replace('.svg', '.png')`;
  .no-svg & { background:url(@fallback); }
}

/* CLASSES */

.clearfix { zoom:1;
  &:before, &:after { content:""; display:table; }
  &:after { clear: both; }
}
.fill { width: 100%; height:100%; }
.overlay { position: absolute; top:0; left:0; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-justify { text-align: justify; text-align-last: center; }
.clear { clear:both; }
