{% set bg = 'https://placem.at/places?w=1260&h=760&txt=0&random=1' %}

<div class="hero" style="background-image:url('{{ bg }}')">
  <div class="hero__overlay"></div>
  <div class="hero__content">
    A hero without a cape, is called a dad.
  </div>
</div>
