<article class="teaser-item rhythm-mb2">
  <div class="teaser-item__image">
    <img src="https://placem.at/places?w=600&h=260&txt=0&random=1" class="img-responsive" alt="" />
  </div>
  <div class="teaser-item__title item-title">Teaser title</div>
  <div class="teaser-item__excerpt bodytext bodytext--small">{{ lipsum(20) }}</div>
  <div class="teaser-item__actions">
    <a href="#" class="btn btn-default">Read More</a>
  </div>
</article>
